@import "~materialize-css/dist/css/materialize.min.css";

.mr-1 {
    margin-right: 1rem;
}

.pt-2 {
    padding-top: 2rem !important;
}

.ta-center {
    text-align: center;
}

.nav-wrapper {
    padding: 0 2rem;
}

.loader-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}